
<!-- <p>Hello</p>   -->

    <form>

      UserName:<br>
      <input type="text" [(ngModel)]="Username" value="Username" name="UserName"><br>
      Password:<br>
      <input type="text" [(ngModel)]="Password" value="Password" name="Password"><br><br>
      <!-- Login:<br> -->
      <!-- <input type ="button" name="Login"> -->
      <input type = "button" value="Login" name ="Login" (click)="funcLogin()">


      <!-- <button class="common-btn btn" (click)="funLogin()">Submit</button> -->
    </form> 
  
